.bgPhoto {
    background-image: url('../../assets/img/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30%;
    width: 100%;
    position: absolute;
}