.todoContainer {
    max-width: 700px;
    position: relative;
    top: 100px;
}

.header {
    padding: 0 18px;
}

.title {
    font-weight: 700;
}

.addInput {
    background-color: var(--desaturated--Blue);
    color: var(--Light-Grayish-Blue) !important;
    border-color: var(--primary-Color) !important;
    border-radius: 10px;
}

.addInput input {
    padding: 12px 18px;
    font-weight: bold;
    letter-spacing: .045em;
}

::placeholder {
    color: var(--Light-Grayish-Blue) !important;
}

.addInput:focus {
    color: var(--Light-Grayish-Blue-hover);
    background-color: var(--Dark-Grayish-Blue-hover);
    border-color: transparent !important;
}

.todoBody {
    background-color: var(--desaturated--Blue);
    border-radius: 10px;
    padding: 18px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 30rem;
    overflow-y: auto;
}

.todoBody::-webkit-scrollbar {
    display: none;
}
.tabs{
    width: 100%;
    background-color: var(--desaturated--Blue);
    border-radius: 10px;
    padding: .93rem 1.25rem !important;
    position: absolute;
    padding: 0;
    left: 0;
    bottom: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count{
    color: var(--Dark-Grayish-Blue);
    cursor: pointer;
    transition: all .5s ease-in-out;

}
.count:hover{
    color: var(--Dark-Grayish-Blue-hover);
}
