@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --primary-Color: hsl(220, 98%, 61%);
    --check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* Dark */
    --dark-Background: hsl(235, 21%, 11%);
    --desaturated--Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
    /* Light */
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}

body {
    Font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: var(--dark-Background) ;
    height: 100vh;
}
.primary-Color{
    color: var(--primary-Color);
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em 0 0;
    padding:5px;
    vertical-align: middle;
    appearance: none;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 50% !important;
    transition: all 0.5s ease-in-out !important;
    position: relative;
    cursor: pointer;
}
.form-check-input:checked{
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.form-check-input:checked::after{
    content: url('../src/assets/img/icon-check.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}
.navTabs{
    transition: all .5s ease-in-out;
}
.navTabs:hover{
    color: var(--primary-Color) !important; ;
}