@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --primary-Color: hsl(220, 98%, 61%);
    --check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    /* Dark */
    --dark-Background: hsl(235, 21%, 11%);
    --desaturated--Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
    /* Light */
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(235, 13%, 82%);
    --Light-Grayish-Blue: hsl(235, 10%, 77%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}

body {
    font-size: calc(13px + 0.390625vw);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: var(--dark-Background);
    height: 100vh;
}

.primary-Color {
    color: var(--primary-Color) !important;
}

body:has(.lightMode) {
    background-color: var(--Very-Light-Gray);
}
body:has(.lightMode) .title {
    color: var(--Very-Dark-Grayish-Blue) !important;
}

body:has(.lightMode) .form-control {
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Grayish-Blue) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body:has(.lightMode) ::placeholder {
    color: var(--Very-Dark-Grayish-Blue) !important;
}

body:has(.lightMode) .todoBody {
    background-color: var(--Very-Light-Gray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body:has(.lightMode) .tabsFilter {
    background-color: var(--Very-Light-Gray);
    box-shadow: 2px 7px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: aliceblue;

}
body:has(.lightMode) .navTabs {
    color: var(--Very-Light-Grayish-Blue) !important;
}
body:has(.lightMode) .primary-Color  {
    color: var(--primary-Color) !important;
}
body:has(.lightMode) .navTabs:hover {
    color: var(--primary-Color) !important;
}




.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em 0 0;
    padding: 5px;
    vertical-align: middle;
    appearance: none;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 50% !important;
    position: relative;
    cursor: pointer;
}

.form-check-input:checked {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.form-check-input:checked::after {
    content: url('../src/assets/img/icon-check.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.navTabs {
    color: var(--Very-Dark-Grayish-Blue);
    transition: all .5s ease-in-out;
}

.navTabs:hover {
    color: var(--primary-Color) !important;
}
.dragText {
    position: relative;
    top: 70px;
    padding: 10px;
}
@media (max-width: 450px) {
    .tabsFilter {
        /* flex-direction: column;
        justify-content: start !important;
        align-items: start !important;
        text-align: start; */
        font-size: 12px;
        position: fixed;
        text-align: center;
        bottom: -40px !important;
        overflow-x: auto;
    }
    .navTabs{
        font-size: 12px;
        padding: 0 10px;
    }
    .dragText {
        display: none;
    }
} 
